@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #303f4e;  
  --secondary-color: #171615; 
  --background-color: #F4F6F7;
  --text-color: #333;
}



body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(background-color);
  color:#171615 (text-color);
  line-height: 1.6;
  font-size: 16px;
}

a:hover{
    text-decoration: underline;
}

header {
  background: var(primary-color);
  color: black;
  text-align: center;
  padding: 2rem 1rem;
}



